body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111111;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

main{
    width: auto;
    height: auto;
}
p{
    font-size: 56px;
}

select, input, button{
    border: none;
    border-bottom: 1px solid #cccccc;
    border-radius: 3px;
    background: #2c2b2b;
    outline: none !important;
    width: 500px;
    height: 44px;
    color: #cccccc;
    font-size: 24px;
    font-family: Tahoma, fantasy;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.authreg-container{
    margin-top: 30px;
    display: grid;
    justify-items: center;
    background-color: #2c2b2b;
    width: auto;
    color: white;
    font-size: 34px;
    border-radius: 10px;
}

@media (max-width: 1200px) {
    p{
        font-size: 52px;
    }
    select, input, button{
        font-size: 36px;
        height: 58px;
        width: 450px;
    }
}

@media (max-width: 800px) {
    p{
        font-size: 46px;
    }
    select, input, button{
        height: 68px;
    }
}

@media (max-width: 600px) {
    p{
        font-size: 44px;
    }
    select, input, button{
        font-size: 32px;
        height: 78px;
        width: 380px;
    }
}
@media (max-width: 440px) {
    p{
        font-size: 40px;
    }
    select, input, button{
        font-size: 28px;
        height: 78px;
        width: 280px;
    }
}
@media (max-width: 350px) {
    p{
        font-size: 36px;
    }
    select, input, button{
        font-size: 20px;
        height: 78px;
        width: 200px;
    }
}



button[type="submit"]{
    background-color: white;
    color: #404041;
}

.auth-field{
    justify-self: right;
    align-self: center;
    font-size: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.auth-btn{
    color: cornflowerblue;
    text-decoration: grey;
}