body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111111;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

main{
    width: auto;
    height: auto;
}
p{
    font-size: 48px;
}

select, input{
    border: none;
    border-bottom: 1px solid #cccccc;
    border-radius: 3px;
    background: #2c2b2b;
    outline: none !important;
    width: 500px;
    height: 44px;
    color: #cccccc;
    font-size: 24px;
    font-family: Tahoma, fantasy;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.authreg-container{
    display: grid;
    justify-items: center;
    background-color: #2c2b2b;
    color: white;
    font-size: 34px;
    border-radius: 10px;
}

@media (max-width: 1200px) {
    p{
        font-size: 52px;
    }
    select, input{
        font-size: 36px;
        width: 700px;
    }
}

input[type="submit"]{
    background-color: white;
    color: #404041;
}

.auth-field{
    justify-self: right;
    align-self: center;
    font-size: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.auth-btn{
    color: cornflowerblue;
    text-decoration: grey;
}